## Import and Load Data

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
df = pd.read_feather('./data/train_allx_Optmzd_feather').drop('ID',axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 188 entries, B_37 to S_5
dtypes: category(4), float32(184)
memory usage: 323.9 MB

In [3]:
df.head()

,B_37,S_24,S_4,S_14,B_25,D_38,B_30,D_138,P_2,S_7,...,D_43,D_4,D_85,D_78,D_42,D_52,D_29,R_1,R_28,S_5
0,0.006462,0.008118,0.853027,0.556641,1.003906,NaN,0.021301,0.511230,1.004883,0.081543,...,NaN,0.502441,0.002375,0.008270,0.008835,0.001913,1.007812,0.008171,0.008514,0.004307
1,0.007748,0.006310,0.758301,0.686035,0.001836,NaN,0.088501,0.557129,0.687988,0.353027,...,NaN,0.009544,1.002930,0.002613,0.003374,0.000530,0.006649,0.006798,0.003426,0.009224
2,0.005405,0.005219,0.766602,0.284668,1.002930,NaN,0.005821,0.854980,0.927734,0.059479,...,NaN,0.008736,0.008751,0.002541,0.009300,0.001654,0.000212,0.007599,0.009224,0.009636
3,0.004135,0.000032,0.363281,0.004623,0.533691,NaN,0.002443,0.526367,0.700684,0.334473,...,NaN,0.004646,0.007095,0.000235,0.004581,0.004738,0.002653,0.001221,0.009529,0.007523
4,0.002968,0.002892,0.757324,0.427734,1.001953,NaN,0.008247,0.820312,1.001953,0.144287,...,NaN,0.000344,0.005577,0.001367,0.005760,1.008789,1.003906,0.003401,0.001020,0.000535

## Dealing with missing values

In [27]:
(df.isnull().sum().sort_values(ascending=False)/4589.13).iloc[38:45]

D_22    10.535330
D_99     6.619337
R_5      6.261753
D_6      4.858219
D_56     4.858219
P_1      4.841876
D_4      2.790725
dtype: float64

In [5]:
null_cols = df.isnull().sum().sort_values(ascending=False).head(39).index

In [6]:
df_94 = df.drop(null_cols,axis=1)

In [7]:
df_94.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 149 entries, B_37 to S_5
dtypes: category(4), float32(145)
memory usage: 255.6 MB

In [8]:
(df_94.isnull().sum().sort_values(ascending=False)/4589.13).head()

D_99    6.619337
R_5     6.261753
D_6     4.858219
D_56    4.858219
P_1     4.841876
dtype: float64

In [33]:
label = pd.read_csv('./data/train_y.csv')
label.head()

   Default_Flag
0             0
1             0
2             0
3             0
4             0

In [43]:
df_94 = df_94.join(label)
df_94.head()

,B_37,S_24,S_4,S_14,B_25,B_30,D_138,P_2,S_12,D_99,...,D_4,D_85,D_78,D_42,D_52,D_29,R_1,R_28,S_5,Default_Flag
0,0.006462,0.008118,0.853027,0.556641,1.003906,0.021301,0.511230,1.004883,0.000228,0.028610,...,0.502441,0.002375,0.008270,0.008835,0.001913,1.007812,0.008171,0.008514,0.004307,0
1,0.007748,0.006310,0.758301,0.686035,0.001836,0.088501,0.557129,0.687988,0.004539,0.437012,...,0.009544,1.002930,0.002613,0.003374,0.000530,0.006649,0.006798,0.003426,0.009224,0
2,0.005405,0.005219,0.766602,0.284668,1.002930,0.005821,0.854980,0.927734,0.009247,0.072510,...,0.008736,0.008751,0.002541,0.009300,0.001654,0.000212,0.007599,0.009224,0.009636,0
3,0.004135,0.000032,0.363281,0.004623,0.533691,0.002443,0.526367,0.700684,0.009140,0.615234,...,0.004646,0.007095,0.000235,0.004581,0.004738,0.002653,0.001221,0.009529,0.007523,0
4,0.002968,0.002892,0.757324,0.427734,1.001953,0.008247,0.820312,1.001953,0.001273,0.012939,...,0.000344,0.005577,0.001367,0.005760,1.008789,1.003906,0.003401,0.001020,0.000535,0

In [37]:
df_94.dropna().count()[0]/4589.13

85.17758267906989

In [38]:
df_full = df_94.dropna()

## Exploratory Analysis

In [39]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 390891 entries, 0 to 458910
Columns: 150 entries, B_37 to Default_Flag
dtypes: category(4), float32(145), int64(1)
memory usage: 223.7 MB

In [44]:
'Default_Flag' in df_full.columns

True

In [45]:
df_full['Default_Flag'].value_counts()

0    290447
2     39572
3     32339
1     28533
Name: Default_Flag, dtype: int64

In [46]:
label_0 = df_full[df_full['Default_Flag']==0]
label_x = df_full[df_full['Default_Flag'] != 0]

In [50]:
label_x.describe() - label_0.describe()

,B_37,S_24,S_4,S_14,B_25,B_30,D_138,P_2,S_12,D_99,...,D_4,D_85,D_78,D_42,D_52,D_29,R_1,R_28,S_5,Default_Flag
count,-1.900030e+05,-1.900030e+05,-1.900030e+05,-1.900030e+05,-1.900030e+05,-190003.000000,-190003.000000,-190003.000000,-1.900030e+05,-190003.000000,...,-1.900030e+05,-1.900030e+05,-1.900030e+05,-190003.000000,-1.900030e+05,-1.900030e+05,-190003.000000,-190003.000000,-1.900030e+05,-190003.000000
mean,4.648662e-02,4.349696e-05,-1.321400e-01,-1.100046e-01,-4.765893e-01,0.380295,-0.156085,-0.416773,1.385109e-01,0.393033,...,-5.533284e-02,-2.610709e-02,-2.169233e-02,-0.007776,-1.017484e-01,-1.358216e-01,0.000769,0.072706,3.390784e-02,2.037892
std,1.204535e-01,1.656725e-04,-9.723623e-02,-7.059874e-02,-1.472844e-01,0.126866,-0.027375,0.017240,1.262359e+00,0.000990,...,-1.118303e-01,-8.349949e-02,-1.161046e-01,-0.047068,-2.414626e-01,-2.850475e-01,0.016982,0.206058,1.284649e-01,0.777560
min,5.960464e-08,6.556511e-07,1.192093e-07,-1.192093e-07,-7.748604e-07,0.000001,0.001488,-0.119873,5.364418e-07,0.000311,...,-1.192093e-07,2.384186e-07,5.960464e-08,0.000000,5.960464e-08,1.192093e-07,0.000000,0.000000,1.192093e-07,1.000000
25%,1.296997e-04,1.907349e-05,-5.378723e-04,-1.100540e-03,-3.161011e-01,0.309711,-0.133423,-0.425903,1.506805e-04,0.406647,...,-2.613068e-04,-8.010864e-05,-3.623962e-05,-0.000007,-2.689362e-04,-3.948212e-04,0.000038,0.000217,9.918213e-05,1.000000
50%,2.365112e-04,1.525879e-05,-1.550293e-01,-2.262115e-03,-5.395508e-01,0.582993,-0.174072,-0.445557,2.670288e-04,0.531738,...,-5.264282e-04,-1.449585e-04,-8.773804e-05,-0.000015,-5.416870e-04,-7.972717e-04,0.000023,0.000389,1.907349e-04,2.000000
75%,3.738403e-04,1.907349e-05,-2.744141e-01,-1.394043e-01,-7.873535e-01,0.545837,-0.199951,-0.425781,4.196167e-04,0.470215,...,-7.858276e-04,-2.202988e-04,-1.564026e-04,-0.000050,-8.430481e-04,-1.186371e-03,0.000027,0.000603,2.861023e-04,3.000000
max,0.000000e+00,1.312256e-02,-9.765625e-04,0.000000e+00,0.000000e+00,-0.218750,-0.042969,0.000000,8.534375e+01,0.931641,...,-5.058594e-01,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,3.000000

In [63]:
column_dict = pd.read_excel('Variable_Dictionary.xlsx')
column_dict.head()

  Variable Name          Description
0            ID          Customer ID
1  Default_Flag        Default Label
2           B_1  Payment Variable 01
3           B_2  Payment Variable 02
4           B_3  Payment Variable 03

In [64]:
spend_variables = []

for i in range(column_dict['Variable Name'].size):
    if ( 'Spend' in column_dict['Description'].iloc[i]):
        spend_variables.append(column_dict['Variable Name'].iloc[i])

print(spend_variables)

['B_21', 'B_28', 'D_73', 'R_6', 'R_21', 'S_2', 'S_3', 'S_4', 'S_7', 'S_8', 'S_9', 'S_11', 'S_12', 'S_13', 'S_14', 'S_15', 'S_16', 'S_19', 'S_20', 'S_21', 'S_22', 'S_23', 'S_24', 'S_25', 'S_26']

In [68]:
dropped_cols = ['D_73', 'S_7', 'S_19', 'S_23', 'S_25']

for i in dropped_cols:
    spend_variables.remove(i)

In [69]:
label_x[spend_variables].describe() - label_0[spend_variables].describe()

,B_21,B_28,R_6,R_21,S_2,S_3,S_4,S_8,S_9,S_11,S_12,S_13,S_14,S_15,S_16,S_20,S_21,S_22,S_24,S_26
count,-190003.000000,-1.900030e+05,-190003.000000,-190003.000000,-1.900030e+05,-1.900030e+05,-1.900030e+05,-190003.000000,-190003.000000,-190003.000000,-1.900030e+05,-190003.000000,-1.900030e+05,-190003.000000,-190003.000000,-190003.000000,-190003.000000,-1.900030e+05,-1.900030e+05,-190003.000000
mean,-0.042380,1.557689e-01,0.046507,0.000153,-4.764812e-02,4.363430e-02,-1.321400e-01,-0.160458,-0.000359,0.210775,1.385109e-01,-0.036184,-1.100046e-01,-0.000531,0.155210,0.093707,0.021183,-1.493612e-01,4.349696e-05,0.170381
std,-0.395250,1.256673e+00,0.149228,0.008301,-2.739855e-01,-5.860803e-02,-9.723623e-02,0.243916,0.086825,-0.249873,1.262359e+00,-0.018812,-7.059874e-02,-0.004763,0.226594,0.051052,0.114476,-1.291342e-01,1.656725e-04,-0.259279
min,0.000002,5.960464e-08,0.000000,0.000000,5.364418e-07,1.788139e-07,1.192093e-07,0.000000,0.007324,23.750000,5.364418e-07,0.000122,-1.192093e-07,0.000000,3.910156,0.000244,0.000000,-5.960464e-08,6.556511e-07,29.562500
25%,0.002441,1.449585e-04,0.000105,-0.000025,-4.673004e-04,4.013062e-03,-5.378723e-04,-0.276367,-0.000122,0.856079,1.506805e-04,-0.001709,-1.100540e-03,-0.000008,0.000854,0.099487,-0.000057,-5.741119e-04,1.907349e-05,0.638184
50%,-0.006134,3.051758e-04,0.000248,-0.000011,-8.506775e-04,2.292633e-02,-1.550293e-01,-0.002441,-0.000732,0.028809,2.670288e-04,-0.004883,-2.262115e-03,-0.000004,0.002441,0.191650,-0.000124,-1.136780e-03,1.525879e-05,0.033691
75%,-0.039337,4.577637e-04,0.000374,0.000015,-7.461548e-03,4.974365e-02,-2.744141e-01,-0.000488,-0.015381,0.015625,4.196167e-04,-0.040283,-1.394043e-01,-0.000008,0.306030,0.002930,-0.000137,-9.916306e-01,1.907349e-05,0.020996
max,-192.281250,1.070938e+02,0.000000,0.000000,-7.687500e+01,-8.387500e+01,-9.765625e-04,0.332031,-4.406250,0.000977,8.534375e+01,-0.242188,0.000000e+00,0.000000,4.621094,0.000000,0.000000,0.000000e+00,1.312256e-02,0.000000